<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Add New Account</title>
  <link rel="icon" type="image/png" href="assets/images/favicon.png"/>
  <link rel="stylesheet" href="assets/css/styles.css" />
  <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.4/axios.js" defer></script>
  <script src="assets/js/api.js" defer></script>
  <script src="assets/js/index.js" defer></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="#"><img class="img-fluid" src="assets/images/logo2.gif" onclick="window.location.href='index.html'" alt="logo"></a>
      <span class="navbar-text">
        <a href="tel:0333-772-0759">Call us on 0333 772 0759</a>
      </span>
    </div>
  </nav>
  <section>
    <div id="index_page">
    <form @submit.prevent="submitForm">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <h1>Business details</h1>
            <p>Please fill in the form below with your business details, <a href="tel:0333-772-0759">contact us</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">

            <div v-if="errors.length" class="alert alert-danger">
              <ul>
                <li v-for="error in errors">{{ error }}</li>
              </ul>
            </div>
          
            <div class="card mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-12 col-md-4">
                    <label for="title">Title:</label>
                    <select class="form-control" v-model="form.title">
                      <option disabled selected>Select...</option>
                      <option value="Mr">Mr</option>
                      <option value="Mrs">Mrs</option>
                      <option value="Ms">Ms</option>
                    </select>
                  </div>
                </div>

                <label>First Name:</label>
                <input class="form-control" type="text" v-model="form.first_name">

                <label>Last Name:</label>
                <input class="form-control" type="text" v-model="form.last_name" required>

                <label>Address:</label>
                <input class="form-control" type="text" v-model="form.address" required>

                <label for="start">Policy Start Date:</label>
                <input class="form-control" type="date" v-model="form.policy_start_date">
                <hr>
                <div class="row">
                  <div class="col-12 col-md-6">
                    <label>Employee ERN:</label>
                    <input class="form-control" type="text" v-model="form.ern">
                  </div>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="checkbox" v-model="form.ern_exempt">
                  <label class="form-check-label" for="disabledFieldsetCheck"> We're exempt from having an ERN</label>
                </div>
                <hr>

                <div class="row">
                  <div class="col-12 col-md-6">
                    <label>Password:</label>
                    <input class="form-control" type="text" v-model="form.password" required>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 col-md-6">
                    <label>Confirm Password:</label>
                    <input class="form-control" type="text" v-model="form.password_confirmation" required>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="summary">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
              <div class="row">
                <div class="col-12 col-md-8">
                  <div id="summary">
                    <p class="m-0">Total premium</p>
                    <h2 class="m-0">£223.50</h2>
                    <p class="fst-italic mb-0">per month. 0% APR, Tax Inc</p>
                  </div>
                </div>
                <div class="col-12 col-md-4 text-right align-self-center">
                  <div class="d-grid gap-2">
                    <button :disabled="formSubmitting" @click="submitForm" type="submit" class="btn btn-turquoise btn-block my-auto">Confirm <span class="float-right"></span></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    </div>
  </section>
</body>

</html>